.app-wrapper {
    margin: auto;
    display: grid;
    background-color: gold;
    grid-template-areas:
    "h h"
    "n a";
    grid-template-rows: 1fr 13fr;
    grid-template-columns: 2fr 24fr;
    /*grid-gap: 2vw;*/
}

.app-wrapper-content {
    grid-area: a;
    background-color: gold;

}


