.dialogs {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    max-width: 780px
}

.dialogsItems {
    color: red;
}

.messagesItems {
    color: red;
}

.dialog {
    color: red;
    float: left;
    width: 210px;
    height: 70px;
}

.message {
    width: 210px;
    height: 70px;
}

.avatarStyle img {
    width: 40px;
    height: 40px;
}