.nav {
    grid-area: n;
    background-color: darkorange;
    padding: 20px;
}

.item a {
    color: yellow;
    font-family: "Arial Black";
    text-decoration: none;
}

.item a.activeLink {
    color: darkcyan;
}
.friends {
    color: green;
    font-family: "Arial Black";
}
.friend {
    color: yellow;
    font-family: "Bad Script";
    grid-template-rows: initial;
}