.nav {
    display: grid;
    justify-content: space-between;
    grid-area: n;
    list-style-type: georgian;
    margin: unset;
    padding: 0;
    width: 180px;
    background-color: darkorange;
    display: table-cell;
}

.item a {
    display: grid;
    margin: unset;
    color: yellow;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
.item a:hover {
    background-color: peru;
    color: gold;
}

.item a.activeLink {
    color: darkcyan;
}
